<!-- valorant-main.component.html -->
<div class="valorant-page">

  <app-valorant-header></app-valorant-header>

  <!-- Hero Section -->
  <section class="hero">
    <h1>VALORANT</h1>
    <p>La mejor página de información sobre Valorant.</p>
  </section>

  <!-- Main Cards -->
  <section class="card-section">
    <div class="card agents">
      <div class="card-info">
        <h3>AGENTES</h3>
        <p>Explora todos los agentes y sus habilidades únicas.</p>
      </div>

      <button routerLink="/valorant/agents">Agentes</button>
    </div>
    <div class="card maps">
      <div class="card-info">
        <h3>MAPAS</h3>
        <p>Aprende la disposición y las zonas de todos los mapas.</p>
      </div>
      <button routerLink="/valorant/maps">Mapas</button>
    </div>
    <div class="card weapons">
      <div class="card-info">
        <h3>ARMAS</h3>
        <p>Compara las estadísticas y aprende sobre las armas.</p>
      </div>

      <button routerLink="/valorant/weapons">Armas</button>
    </div>
  </section>

  <!-- Bottom Section -->
  <section class="info-section">
    <div class="general-info-container">
      <div class="updates">
        <h4>Últimas actualizaciones</h4>
        <div class="update"><strong>NUEVO AGENTE:</strong> Deadlock se une al
          juego.</div>
        <div class="update"><strong>ACTUALIZACIÓN DE MAPAS:</strong> Sunset
          ahora
          está disponible para jugar.</div>
        <div class="update"><strong>CAMBIOS EN LAS ARMAS:</strong> Ajustes en el
          parche 7.04.</div>
      </div>
      <div class="tips">
        <h4>Pro Tips</h4>
        <div class="tip"><strong>Mejora tu puntería:</strong> Practica durante
          15
          minutos en la sala de entrenamiento todos los días.</div>
        <div class="tip"><strong>Manejo de economía:</strong> Aprende cuándo
          guardar y gastar dinero.</div>
        <div class="tip"><strong>Control de mapa:</strong> Conocer el mapa y sus
          ángulos le da ventaja a tu equipo.</div>
      </div>
    </div>

  </section> 

</div>
